@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul li {
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.bg_header{
    background-color: #1f2937;
    height: 60px;
}
.container.header{
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}

.logo{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.navbar.links{
    display: flex;
    justify-content: baseline;
    gap: 8px;
}
.navbar.item{
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
}

.bg_principal{
    background-color: #1f2937;
    height: 400px;
    padding-top:80px;
}
.container.principal{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1 1 auto;
}
.section.principal{
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.picture_one{
    height: 200px;
    width: 720px;
    background-color: gray;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 36px;
}

.btn.one{
    color: #fff;
    font-weight: 600;
    padding: 10px 30px;
    background-color: rgb(16, 60, 182);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
.bg_seconde{
    background-color: #fff;
    height: 400px;
    padding-top: 80px;
    margin-bottom: 130px;
}
.container.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.h2{
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 50px;
}
.container .components{
    display: flex;
    flex: 1 1 auto;
    gap: 65px;
    margin-bottom: 60px;
}
.placeholderImage{
    height: 190px;
    background-color: #fff;
    border: solid 4px rgb(16, 60, 182);
    border-radius: 10px;
}
.blueComponents{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 200px;
}
.bg_quote{
    background-color: lightgray;
    padding: 130px 0;
}
.container.quote{
    display: flex;
    flex-direction: column;

}
.pQuote{
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
    color: rgb(82, 82, 82);
}
cite{
  align-self: flex-end; 
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.bg_call{
    background-color: #fff;

}
.container.call{
    padding: 50px 150px;
    background-color: rgb(16, 60, 182);
    display: flex;
    color: #fff;
    border-radius: 15px;
    margin: 200px auto;
    justify-content: space-between;
}

.btn.two{
    background-color: #1f293700;
    color: #fff;
    font-weight: 600;
    padding: 3px 60px;
    border: 2px white solid;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

footer{
    background-color: #1f2937;
    color: #fff;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 12px;
}